[submodule "alacritty_config"]
	path = alacritty_config
	url = git@github.com:glorisonlai/alacritty_config.git
[submodule "tmux_config"]
	path = tmux_config
	url = git@github.com:glorisonlai/tmux_config.git
[submodule "kali_config"]
	path = kali_config
	url = git@github.com:glorisonlai/kali_config.git
[submodule "astronvimv4_config"]
	path = astronvimv4_config
	url = git@github.com:glorisonlai/astronvimv4_config.git
